<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.bitcoinvault">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:name=".util.BitcoinApplication"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".view.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".view.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WalletHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WalletTransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ReceiveBitcoins"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SendBitcoinVaultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".view.activity.SendBitcoinActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".view.activity.ConfirmActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".view.activity.SucessActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.FingerprintAuthenticationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreeWhite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.VaultTransactionActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".reciever.NotificationReceiver">
            <intent-filter>
                <action android:name="com.embedded.download.intent.action.Notification" />
            </intent-filter>
        </receiver>
        <receiver android:name="receivers.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="@string/app_key"
            android:value="@string/app_key_value" />

        <activity
            android:name="com.app.bitcoinvault.view.activity.SendBitcoinThirdPartyActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBarWhite"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.app.bitcoinvault.view.activity.SendBitcoinThirdPartyActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>